*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #EEECEF;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #C5922D;
}

.logo img{
    position: relative;
    left: 50px;
    width: 100px;
    height: auto;
}

.navbar_nav a{ 
    color: #fff;
    margin: 0 0.5rem;
}

.navbar_nav a :hover{
    color : rgb(77, 171, 236);
}

.konteks h1{
    font-size: 300%;
    text-align: center;
    padding:2%;
    color: #27374D;
}

.bagian{
    display: flex;
    justify-content: space-evenly;
}

.bagian_gambar p{
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    background-color: #C5922D;
    padding: 4%;
    align-items: center;
    text-align: center;
}

.bagian_gambar{
    display: flex;
    justify-content: space-evenly;
}

.bagian_gambar img{
    padding: 20px;
    background-color: #fff;
}